body {
	font-family: arial, helvetica, sans-serif;
	margin:0;
	padding:0;	
}

a, a:visited, a:active, a:hover {
	color: #1A9599;
	text-decoration:none;
}

.tooltip { 
	background-color: #FFF;
	padding:3px;
	font-family: arial, helvetica, sans-serif;
	font-size: 11pt;
	color: #000;
}

#mapTitle {
	color: yellow;
	font-weight: bold;
	padding:2px 5px;
}


#shiptrakUIContainer {
	overflow:hidden;
	background-color: #091336;
	color: #999;
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	font-size: 0.8em;
	padding: 2px;
	padding-bottom:5px;
	width:100%;
	margin:0;
	margin-bottom:3px;
	height:1.5em;
}
#shiptrakUIContainer input, #shiptrakUIContainer select {
	margin-right:5px;
	background: #FFF;
	color:#000;
	border: 1px solid #888;
	font-variant: none;
	letter-spacing: auto;
}

#shiptrakLogContainer {
	background-color: #576B69;
	font-size: 0.8em;
	width:100%;
	position:absolute;
	height:30%;
	overflow:auto;
	color: #CCC;
	padding: 0;
	margin:0;
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	display:none;
}
#leftFloater {
	display:block;
	float:left;
	letter-spacing: 0.1em;
	font-variant: small-caps;
	margin-left:10px;
}
#rightFloater {
	display:block;
	float:right;
	margin:0;
	padding-top:2px;
	margin-right:10px;
}
#rightFloater a, 
#rightFloater a:visited, 
#rightFloater a:active {
	color: #1A9599;
	font-weight:bold;
	margin-left:10px;
	text-decoration:none;
}


#log {
	margin:0;
	padding:0;
}

#log table th {
	font-weight:bold;
	letter-spacing: 0.1em;
	font-variant: small-caps;
	background-color: #555;
	color: #AAA;
}
.logHilight {
	background-color:#509183;
}
#embeddedLabel {
	display:none;
	margin-right:10px;
	font-variant:none;
}

#OverlayPopup {
	position:absolute;
	z-index:1000;
	border: 1px solid #000;
	background-color:#FFF;
	color: #000;
	padding: 0;
	margin:0;
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	padding:10px;
	font-size:0.8em;
}
#popupOkayButton {
	position:absolute;
	height:2em;
	text-align:right;
	right:10px;
	bottom:10px;
	font-size:0.8em;
}

#shiptrakLogToggle {
	filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	font-size: 0.7em;
	width:100%;
}
#logToggler {
	display:block;
	position:absolute;
	bottom:0;
	background-color: #091336;
	color: #FFF;
	padding:2px;		
	font-variant: small-caps;
	text-align:center;
	z-index:10;
}
#logToggler a, 
#logToggler a:visited, 
#logToggler a:active,
#logToggler a:hover {
	color: #FFF;
	text-decoration: none;
}
#logToggler a:hover {
	text-decoration: underline;
}

#logCloser {
	background-color: #091336;
}

#interface {
	display:block;
}
